body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    /* font-family: 'Sen', sans-serif; */
}

hr {
    border: 1px dashed rgb(243, 60, 96);
    width: 15rem;
}

p {
    font-family: 'Arvo', serif;
}

.logo {
    font-family: 'Babylonica', cursive;
    color: white;
    font-size: 2rem;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.6);
}

.speciality-text {
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 1rem;
    text-decoration: underline;
}

.category {
    /* font-family: 'Passion One', cursive; */
    font-family: 'Sen', sans-serif;
    text-align: center;
    font-size: 1.7rem;
    color: #ff6b6b;
}

.navbar {
    background-color: #ff6b6b;
    width: 100%;
}

.navbar div {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: #ff6b6b;
    color: white;
}

.navbar-left {
    padding: 0 20px;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    justify-content: flex-end;
}

.navbar-right input {
    border: 1px solid #ff6b6b;
    padding: 0.2rem;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #ff6b6b;
    text-align: center;
}

.navbar-right-search {
    margin: auto;
    padding: 20px;
}

.navbar-right-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-right-links p {
    margin: auto;
    padding: 20px;
    color: white;
}

.navbar-button {
    background-color: white;
    color: #ff6b6b;
    padding: 0.13rem;
    outline: none;
    border: 1px solid #ff6b6b;
    font-family: 'Sen', sans-serif;
    border-radius: 0 5px 5px 0;
    width: 4rem;
}

.navbar-button:hover {
    background-color: #ff6b6b;
    color: white;
    border: 1px solid white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff6b6b;
    margin: auto;
    padding: 5rem 0;
    width: 80%;
}

.speciality {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    margin: auto;
    /* padding: 3rem 0; */
    /* background-color: #ff6b6b; */
    /* box-shadow: 1px 5px 15px 5px #292f3644; */
    /* border-radius: 5px; */
}

.speciality-content {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    /* padding: 1rem 0; */
    width: 100%;
    /* border: 1px solid #292f36; */
    margin: 1rem 0;
    border-radius: 5px;
    /* background-color: #ffffff; */
}

.speciality-image {
    display: flex;
    width: 50%;
}

.speciality-info img {
    width: auto;
    border-radius: 5px;
    margin: auto;
}

.speciality-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* padding: 0.7rem 2rem; */
    color: #ff6b6b;
    font-size: 22px;
    width: 50%;
    margin: auto;
}

.speciality-info-div {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px #ff6b6b;
    padding: 2rem;
    height: 15rem;
    text-align: center;
    border: 4px double #ff6b6b;
    text-align: justify;
}

.speciality-header {
    font-size: 30px;
    /* text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.6); */
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    margin: 0 10%;
    box-shadow: 1px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.main-content-div {
    display: flex;
    margin: auto;
    width: 100%;
}

.main-content-left {
    padding-top: 4rem;
    width: 20rem;
    background-color: #fad2d2;
}

.main-content-right {
    width: 80%;
    background-color: #fad2d2;
}

.main-content-right-title {
    display: flex;
    justify-content: center;
    margin-top: 3.7rem;
    color: rgb(243, 60, 96);
}

.main-content-right-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}

.main-content-right-component {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 79%;
    margin-left: auto;
    /* border-radius: 0 15px 15px 0; */
    /* border: 1px solid rgb(243, 60, 96); */
    background-color: #fad2d2
}

.category-links div {
    width: 100%;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.link button {
    width: 100%;
    padding: 1rem 0.5rem;
    color: #ff6b6b;
    border: none;
    font-size: 1rem;
    background-color: #fad2d2;
}

.link button:hover {
    font-weight: 600;
    cursor: pointer;
}

.banner {
    width: 100%;
    height: auto;
    margin: auto;
}

.banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    width: 100%;
    height: 100%;
    margin: auto;
    color: #ff6b6b;
    background-color: rgb(243, 60, 96, 0.1);
}

.banner-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0 5rem;
}

.banner-button {
    width: 10rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    background-color: #ff6b6b;
    border: 1px solid #ff6b6b;
    color: white;
}

.banner-button:hover {
    background-color: #ff6b6b22;
    color: #ff6b6b;
    cursor: pointer;
    transition: 500ms;
}

.banner-logo {
    font-family: 'Babylonica', cursive;
    color: #ff6b6b;
    font-size: 2.5rem;
    padding: none;
    margin: none;
}

.masterhead {
    background-image: url(https://images.unsplash.com/photo-1555949258-eb67b1ef0ceb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    height: 30rem;
    width: 100%;
}

.banner-img {
    border-radius: 5px;
    border: none;
    height: 400px;
    width: max-content;
}

.card {
    background-color: white;
    width: 21.15rem;
    height: 23rem;
    margin: 1rem 0.5rem;
    color: rgb(243, 60, 96);
    border-radius: 5px;
}

.card:hover {
    box-shadow: -4px 6px 11px -2px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
    border: none;
    transition: 500ms;
}

.card-img {
    padding: none;
    border-radius: 5px 5px 0px 0px;

}

.card-img img {
    width: 21.1rem;
    height: 12.5rem;
    border-radius: 5px 5px 0px 0px;
}

.card-list {
    /* border: 1px solid black; */
    padding: 0 1rem;
    height: 23rem;
}

.card-list p {
    font-size: 12px;
    /* padding: 0 1rem; */
}

.card-title {
    text-align: center;
    font-size: 16px;
    padding: 0 1rem;
}

.card-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0;
}

.card-price p {
    font-size: 16px;
    padding: 0;
    margin: auto;
}

.main-content-right-component {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 79%;
    margin-left: auto;
    /* border-radius: 0 15px 15px 0; */
    /* border: 1px solid rgb(243, 60, 96); */
    background-color: antiquewhite
}

.default-component {
    background-image: url(https://images.unsplash.com/photo-1533777324565-a040eb52facd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1136&q=80);
    background-position: center;
    background-size: cover;
    border-radius: 0 15px 15px 0;
    height: 100%;
    width: 100%;
}

.default-component-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(250, 235, 215, 0.5);
    color: rgb(92, 92, 92);
    padding: 0 10rem;
    text-align: center;
}

.default-component-info p {
    font-size: 1.2rem;
}

.about {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    margin: 5rem 10%;
    box-shadow: 1px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.about-masterhead {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1551499779-ee50f1aa4d25?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    width: auto;
    color: white;
    border-radius: 5px;
}


.about-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85%;
    width: 70%;
    border-radius: 5px;
    padding: 0 10%;
    font-size: 20px;
    font-weight: 600;
    text-align: justify;
    /* border: 1px solid white; */
    background-color: rgba(0, 0, 0, 0.1);
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #B80000;
    -webkit-text-fill-color: #8ADAFF; */
    /* box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0); */
    /* background-color: rgba(0, 0, 0, 0.1); */
    /* text-shadow: 1px 0px 1px rgba(0, 0, 0, 1); */
}

.about-info h3 {
    font-family: 'Babylonica', cursive;
    color: white;
    font-size: 4rem;
    margin: 0;
}

.about-info p {
    /* background-color: rgba(243, 60, 97, 0.137); */
    border-radius: 15px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 15px;
}

.contact-masterhead {
    background-image: url(https://images.unsplash.com/photo-1587334207810-4915c4e40c67?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
}

.contact-info {
    background-color: rgb(243, 60, 96);
}

.contact-info div {
    margin: auto;
    padding: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: rgb(243, 60, 96);
    margin-top: 10rem;
    width: 100%;
}

.footer-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    color: white;
}

.footer-img {
    border-radius: 5px;
    margin: 1rem 0;
}

.show-component {
    opacity: 1;
    transition: 2000ms;
}

.hide-component {
    opacity: 0;
    transition: 500ms;
}

/* icons */
.gg-shopping-cart {
    display: block;
    box-sizing: border-box;
    position: relative;
    transform: scale(var(--ggs, 1));
    width: 20px;
    height: 21px;
    background:
        linear-gradient(to left, currentColor 12px,
            transparent 0) no-repeat -1px 6px/18px 2px,
        linear-gradient(to left, currentColor 12px,
            transparent 0) no-repeat 6px 14px/11px 2px,
        linear-gradient(to left, currentColor 12px,
            transparent 0) no-repeat 0 2px/4px 2px,
        radial-gradient(circle, currentColor 60%,
            transparent 40%) no-repeat 12px 17px/4px 4px,
        radial-gradient(circle, currentColor 60%,
            transparent 40%) no-repeat 6px 17px/4px 4px
}

.gg-shopping-cart::after,
.gg-shopping-cart::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 2px;
    height: 14px;
    background: currentColor;
    top: 2px;
    left: 4px;
    transform: skew(12deg)
}

.gg-shopping-cart::after {
    height: 10px;
    top: 6px;
    left: 16px;
    transform: skew(-12deg)
}

.gg-profile,
.gg-profile::after,
.gg-profile::before {
    display: block;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 100px
}

.gg-profile {
    overflow: hidden;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    position: relative
}

.gg-profile::after,
.gg-profile::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 8px;
    height: 8px
}

.gg-profile::after {
    border-radius: 200px;
    top: 11px;
    left: 0px;
    width: 18px;
    height: 18px
}